@import './base.css';
@import "tailwindcss";

/* devices */
@import './smallmobile.css';
@import './mobile.css';
@import './tablet.css';
@import './laptop.css';
@import './monitor.css';

#app {
  font-weight: normal;
}

nav a,
.basket-btn {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 13px;
  font-weight: 500;
}

@media (hover: hover) {
  nav a:hover {
    background-color: var(--color-link-foreground);
  }
}

@media (min-width: 1024px) {
}
