@import './base.css';
@import "tailwindcss";

#app {
  font-weight: normal;
}

.basket-btn {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 13px;
  font-weight: 500;
}

@media (hover: hover) {
  nav a:hover {
    background-color: var(--color-link-foreground);
  }
}

 #navigation {
  background: #d8d8d8ae; /* background */
  color: #000000; /* arrow color (example: hot pink) */
  border-radius: 50%;
}

.carousel__pagination-button {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;

}
