@media (max-width: 481px) {
  #banner {
    padding-left: 0.2rem;
  }

  #header {
    gap: 25px;
    align-items: center;
    justify-content: center;
  }

  header .logo {
    height: 40px;
    margin: 0;
  }

  .mobile-search {
    position: relative;
    width: 10vw;
    margin-right: 2rem;
  }

  .mobileSearchBar {
    position: relative;
    padding: 0.5rem 0.3rem;
    left: -40px;
    height: 25px;
    width: 33vw;
  }

  .mobileSearchButton {
    position: relative;
    left: -40px;
  }

  .closeMobileSearch {
    position: absolute;
    z-index: 20;
    top: 2px;
    left: 70px;
  }

  /* .closeIcon {
    height: 20px;
    width: 20px;
    color: black;
  } */

  #nav-links {
    font-size: 11px;
  }

  div .flex-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  div .grid-left {
    width: 100%;
    overflow-y: hidden;
  }

  div .splatter {
    height: auto;
    width: 500px;
    top: -50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }

  div .promoImage-container {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  div .sauce {
    left: 11rem;
  }

  div .Peach {
    right: 10rem;
  }

  .Home-ProductContainer {
    flex-direction: column;
  }

  .ProductCard {
    display: flex;
    width: 90vw;
    height: 250px;
  }
  .image-container,
  .image-container img {
    max-width: 250px;
  }

  img #ProductCardImage {
    margin-bottom: 0px;
  }

  .ProductHeader {
    margin: 0px;
    font-size: 16px;
  }

  .ProductInfo {
    padding-left: 0px;
  }

  .footer {
    place-content: center;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 25px;
  }

  .apologies {
    width: 75vw;
  }

  .Details {
    gap: 5px;
  }

  body {
    overflow-x: hidden;
  }
}
