@media (min-width: 376px) and (max-width: 481px) {
  #banner {
    padding-left: 0.2rem !important;
  }

  #header {
    gap: 25px;
    align-items: center;
    justify-content: center !important;
  }

  header .logo {
    height: 40px;
    margin: 0;
  }

  .mobile-search {
    position: relative;
    width: 10vw;
    margin-right: 2rem;
  }

  .mobileSearchBar {
    position: relative;
    padding: 0.5rem 0.3rem;
    left: -40px;
    height: 25px;
    width: 33vw !important;
  }

  .mobileSearchButton {
    position: relative;
    left: -40px;
  }

  .closeMobileSearch {
    position: absolute;
    z-index: 20;
    top: 2px;
    left: 70px !important;
  }

  /* .closeIcon {
    height: 20px;
    width: 20px;
    color: black;
  } */

  #nav-links {
    font-size: 11px;
  }

  div .flex-container {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
  }

  div .grid-left {
    width: 100%;
    overflow-y: hidden !important;
  }

  div .splatter {
    height: auto;
    width: 500px;
    top: -50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }

  div .promoImage-container {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  div .sauce {
    left: 11rem !important;
  }

  div .Peach {
    right: 10rem !important;
  }

  .Home-ProductContainer {
    flex-direction: column !important;
  }

  .ProductCard {
    display: flex;
    width: 90vw !important;
    height: 300px;
  }

  img #productCardImage {
    margin-bottom: 0px !important;
  }

  .ProductHeader {
    margin: 0px !important;
    font-size: 16px !important;
  }

  .ProductInfo {
    padding-left: 0px !important;
  }

  /* basket */
  .basketProduct {
    gap: 5%;
    display: flex !important;
  }

  .checkout {
    gap: 25%;
    justify-content: normal !important;
  }

  /* footer */

  .footer {
    place-content: center;
  }

  .footer-grid {
    display: flex !important;
    flex-direction: column;
    gap: 3rem !important;
    margin-bottom: 25px !important;
  }

  .apologies {
    width: 75vw !important;
  }

  .Details {
    gap: 5px !important;
  }

  body {
    overflow-x: hidden !important;
  }
}
